// these values must be base64 encoded
apiVersion: v1
kind: Secret
metadata:
  name: kube-tags2iaas-secret
data:
  AZURE_CLIENT_ID: 
  AZURE_CLIENT_SECRET: 
  AZURE_GROUP_NAME: 
  AZURE_LOCATION_DEFAULT: 
  AZURE_SUBSCRIPTION_ID:
  AZURE_TENANT_ID: 